:root {
  --calc-bg-color: #fcb31b;
  --calc-border-color: #000;

  --display-height: 120px;
  --display-border-color: rgba(255, 255, 255, 0.8);
  --display-bg-color: rgba(0, 0, 0, 0.85);

  --input-color: #60a07f;
  --answer-color: rgba(255, 255, 255, 0.85);

  --btn-length: 50px;
  --btn-border-color: rgba(0, 0, 0, 0.85);
  --btn-bg-color: rgba(255, 255, 255, 0.75);
  --btn-hover-bg-color: rgba(255, 255, 255, 0.9);
  --btn-hover-outline-color: rgba(255, 255, 255, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Quicksand', 'Roboto', sans-serif;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.calculator {
  padding: 20px;

  border: 3.5px solid var(--calc-border-color);
  border-radius: 15px;
  background-color: var(--calc-bg-color);
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, var(--btn-length));
  grid-template-rows: var(--display-height) repeat(6, var(--btn-length));
  gap: 5px;
}

.calculator-display {
  grid-column: span 4;
  margin-bottom: 15px;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 2.5px solid var(--display-border-color);
  border-radius: 7px;
  background-color: var(--display-bg-color);

  white-space: nowrap;
}

#input-display {
  color: var(--input-color);
  font-size: 1.25rem;

  overflow-x: scroll;
}

#answer-display {
  color: var(--answer-color);
  font-size: 1.75rem;
  font-weight: 700;

  overflow-x: scroll;
}

#input-display::-webkit-scrollbar,
#answer-display::-webkit-scrollbar {
  display: none;
}

button {
  border: 1.75px solid var(--btn-border-color);
  border-radius: 50%;
  background-color: var(--btn-bg-color);
  font-size: 1.25rem;
  font-weight: 700;
}

button:hover {
  outline: 2.5px solid var(--btn-hover-outline-color);
  background-color: var(--btn-hover-bg-color);
}

button[data-type='^'] {
  padding-top: 7px;

  font-size: 1.75rem;
}

button[data-type='^2'] {
  padding-left: 5px;

  font-size: 1.5rem;
}

button[class='dot'] {
  font-size: 2rem;
  font-weight: 400;
}
